// Colors

/// Primary

$Cyan: hsl(179, 62%, 43%);
$VeryLightCyan: hsl(179, 43%, 75%);
$LightCyan: hsl(179, 47%, 52%);
$BrighYellow: hsl(71, 73%, 54%);

/// Neutral

$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);
